pipeline/0201_PPL_HUB_STAGE.json
{
	"name": "0201_PPL_HUB_STAGE",
	"properties": {
		"activities": [
			{
				"name": "GETM_LOAD_FOLDER_NAME",
				"description": "This Get Metadata activity is samling the folder name in the path: demodaten / 01_RAW / SAPHANA\nthis name correspond to the Stage Tabelles names.\n",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_AZRDLAKE_LOAD_TABLES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachLoadStage",
				"description": "This ForEach activity made a loop over all the folder name in the Get Metadata acitvity GETM_LOAD_FOLDER_NAME",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GETM_LOAD_FOLDER_NAME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GETM_LOAD_FOLDER_NAME').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GM_TableName",
							"description": "This Get Metadata activity is samling the table names in the folders with the path: demodaten / 01_RAW / SAPHANA\nthis name correspond to all load of the SAP HANNA in HUB.\n",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Folder_name",
									"value": "@activity('GETM_LOAD_FOLDER_NAME').output.childItems"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "SRC_AZRDLAKE_LOAD_STRUCTURE",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "DF_HUB_STAGE",
							"description": "this Mapping Data Flow activity truncate and load the tables from HUB to Stage",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "GM_TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_HUB_STAGE_AUTO",
									"type": "DataFlowReference",
									"parameters": {
										"Folder_name": {
											"value": "'@{item().name}'",
											"type": "Expression"
										},
										"Tablet_name": {
											"value": "'@{last(activity('GM_TableName').output.childItems).name}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "02_HUB_DWH"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}