pipeline/PPL_CREATE_CORE_DUMMY_TABLE.json
{
	"name": "PPL_CREATE_CORE_DUMMY_TABLE",
	"properties": {
		"activities": [
			{
				"name": "LKP_CLEANSE_TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA + '.' + TABLE_NAME AS TABLE_NAME FROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'CLEANSE'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR_EACH_LOOP_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_CLEANSE_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_CLEANSE_TABLE').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IF_TABLE_NOT_EXIST",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LKP_CORE_TABLE_EXIST",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LKP_CORE_TABLE_EXIST').output.firstRow.NOT_EXIST, item().TABLE_NAME)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CREATE_TABLE",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "SRC_HUB_STRUCTURE_FILES",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "TRG_AZRSQL_DUMMY_TABLE_STRUCTURE",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "LKP_CORE_TABLE_EXIST",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \nCASE WHEN TABLE_SCHEMA = 'CORE' AND TABLE_NAME = '@{concat('DIM_',replace(item().TABLE_NAME, 'CLEANSE.',''))}' THEN 'DO_NOTHING'\nELSE '@{item().TABLE_NAME}'\nEND as NOT_EXIST\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'CLEANSE'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "DIM_KUNDE_DUMMY",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_KUNDE_EXISTS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(string(activity('LKP_DIM_KUNDE_EXISTS').output.firstRow.FLAG), string(1))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DF_DUMMY_KUNDE",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_DUMMY_KUNDE",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_DIM_KUNDE_EXISTS",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FACT_SALES_DUMMY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF EXISTS \n    (SELECT TOP (1) * \n    FROM  CORE.DIM_KUNDE)\nSELECT 1 AS FLAG\nELSE \nSELECT 0 AS FLAG",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DIM_MATERIAL_DUMMY",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_MATERIAL_EXISTS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(string(activity('LKP_DIM_MATERIAL_EXISTS').output.firstRow.FLAG), string(1))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DF_MATERIAL_DUMMY",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_MATERIAL_DUMMY",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_DIM_MATERIAL_EXISTS",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DIM_KUNDE_DUMMY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF EXISTS \n    (SELECT TOP (1) * \n    FROM  CORE.DIM_MATERIAL)\nSELECT 1 AS FLAG\nELSE \nSELECT 0 AS FLAG",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DIM_ORGA_DUMMY",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_ORGA_EXISTS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(string(activity('LKP_DIM_ORGA_EXISTS').output.firstRow.FLAG), string(1))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DF_ORGA_DUMMY",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_ORGA_DUMMY",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_DIM_ORGA_EXISTS",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DIM_MATERIAL_DUMMY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF EXISTS \n    (SELECT TOP (1) * \n    FROM  CORE.DIM_ORGA)\nSELECT 1 AS FLAG\nELSE \nSELECT 0 AS FLAG\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FACT_SALES_DUMMY",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_FACT_SALES_EXISTS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(string(activity('LKP_FACT_SALES_EXISTS').output.firstRow.FLAG), string(1))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DF_DUMMY_SALES",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_SALES_DUMMY",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_FACT_SALES_EXISTS",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FOR_EACH_LOOP_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF EXISTS \n    (SELECT TOP (1) * \n    FROM  CORE.FACT_SALES)\nSELECT 1 AS FLAG\nELSE \nSELECT 0 AS FLAG\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"File_Path": {
				"type": "String"
			},
			"File_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "99_SUPP_WORKFLOW"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}