pipeline/PPL_AZRSQL_SAPDWC.json
{
	"name": "PPL_AZRSQL_SAPDWC",
	"properties": {
		"activities": [
			{
				"name": "LKP_FACT_SALES",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "select 1 AS \"FLAG\" from SYS.M_TABLES where SCHEMA_NAME ='SAPAZUREINTEGRATION#ADFCONNECTION' AND TABLE_NAME = 'CORE_FACT_SALES'\nUNION ALL\nSELECT 0 AS \"FLAG\"  FROM SYS.M_TABLES\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_ODBC_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IF_CONDITION_FACT_SALES",
				"description": "",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_FACT_SALES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_FACT_SALES').output.firstRow.FLAG,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CPY_AZRSQL_FACTSALES_TO_SAPDWC_TRUNCATE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.FACT_SALES",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "TRUNCATE TABLE CORE_FACT_SALES"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_CORE_FACT_SALES",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "CPY_AZRSQL_FACTSALES_TO_SAPDWC",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.FACT_SALES",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "CREATE TABLE CORE_FACT_SALES (\n\tCSAL_FACT_SALES_SK nvarchar (1000),\n\tDIM_KUNDE_FK nvarchar (1000),\n\tDIM_AUFTRAG_FK nvarchar (1000),\n\tDIM_ORGA_FK nvarchar (1000),\n\tDIM_MATERIAL_FK nvarchar (1000),\n\tDIM_ZEIT_FK nvarchar (1000),\n\tCSAL_MANDT nvarchar (1000),\n\tCSAL_VBELN nvarchar (1000),\n\tCSAL_MATNR nvarchar (1000),\n\tCSAL_AUFNR nvarchar (1000),\n\tCSAL_KUNNR nvarchar (1000),\n\tCSAL_AWAHR nvarchar (1000),\n\tCSAL_BNAME nvarchar (1000),\n\tCSAL_VKORG nvarchar (1000),\n\tCSAL_VTWEG nvarchar (1000),\n\tCSAL_BUKRS_VF nvarchar (1000),\n\tCSAL_POSNR nvarchar (1000),\n\tCSAL_NETPR nvarchar (1000),\n\tCSAL_WAERK nvarchar (1000),\n\tCSAL_KWMENG nvarchar (1000),\n\tCSAL_UMSATZ nvarchar (1000),\n\tCSAL_BSTDK nvarchar (1000),\n\tCSAL_HASHKEY_BK nvarchar (1000),\n\tCSAL_HASHKEY_DATA nvarchar (1000),\n\tCSAL_CREATED_ON nvarchar (1000),\n\tCSAL_SOURCE nvarchar (1000),\n\tCSAL_VALID_FROM nvarchar (1000),\n\tCSAL_VALID_TO nvarchar (1000),\n\tCSAL_CURRENT_FLAG nvarchar (1000),\n\tCSAL_DML_STRAT nvarchar (1000)\n)"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_CORE_FACT_SALES",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_DIM_KUNDE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IF_CONDITION_DIM_ORGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "select 1 AS \"FLAG\" from SYS.M_TABLES where SCHEMA_NAME ='SAPAZUREINTEGRATION#ADFCONNECTION' AND TABLE_NAME = 'CORE_DIM_KUNDE'\nUNION ALL\nSELECT 0 AS \"FLAG\"  FROM SYS.M_TABLES",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_ODBC_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IF_CONDITION_DIM_KUNDE",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_KUNDE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_DIM_KUNDE').output.firstRow.FLAG,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CPY_AZRSQL_DIMKUNDE_TO_SAPDWC_TRUNCATE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_KUNDE",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "TRUNCATE TABLE CORE_DIM_KUNDE"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_CORE_DIM_KUNDE",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "CPY_AZRSQL_DIMKUNDE_TO_SAPDWC",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_KUNDE",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "CREATE TABLE CORE_DIM_KUNDE\n(CKUN_DIM_KUNDE_SK nvarchar(1000),\n\tCKUN_MANDT nvarchar(1000),\n\tCKUN_KUNNR nvarchar(1000),\n\tCKUN_ANRED nvarchar(1000),\n\tCKUN_ADRNR nvarchar(1000),\n\tCKUN_NAME1 nvarchar(1000),\n\tCKUN_MCOD1 nvarchar(1000),\n\tCKUN_MCOD3 nvarchar(1000),\n\tCKUN_TELF1 nvarchar(1000),\n\tCKUN_LAND1 nvarchar(1000),\n\tCKUN_STRAS nvarchar(1000),\n\tCKUN_PSTLZ nvarchar(1000),\n\tCKUN_ORT01 nvarchar(1000),\n\tCKUN_ORT02 nvarchar(1000),\n\tCKUN_REGIO nvarchar(1000),\n\tCKUN_HASHKEY_BK nvarchar(1000),\n\tCKUN_HASHKEY_DATA nvarchar(1000),\n\tCKUN_CREATED_ON nvarchar(1000),\n\tCKUN_SOURCE nvarchar(1000),\n\tCKUN_VALID_FROM nvarchar(1000),\n\tCKUN_VALID_TO nvarchar(1000),\n\tCKUN_CURRENT_FLAG nvarchar(1),\n\tCKUN_DML_STRAT nvarchar(10)\n); \n"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_CORE_DIM_KUNDE",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_DIM_ORGA",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IF_CONDITION_DIM_MATERIAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "select 1 AS \"FLAG\" from SYS.M_TABLES where SCHEMA_NAME ='SAPAZUREINTEGRATION#ADFCONNECTION' AND TABLE_NAME = 'CORE_DIM_MATERIAL'\nUNION ALL\nSELECT 0 AS \"FLAG\"  FROM SYS.M_TABLES",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_ODBC_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IF_CONDITION_DIM_ORGA",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_ORGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_DIM_ORGA').output.firstRow.FLAG,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CPY_AZRSQL_DIMORGA_TO_SAPDWC_TRUNCATE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_ORGA",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "TRUNCATE TABLE CORE_DIM_ORGA"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_DIM_ORGA",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "CPY_AZRSQL_DIMORGA_TO_SAPDWC",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_ORGA",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "CREATE TABLE CORE_DIM_ORGA\n(CORG_DIM_ORGA_SK nvarchar(1000),\n\tCORG_MANDT nvarchar(1000),\n\tCORG_VKORG nvarchar(1000),\n\tCORG_VTWEG nvarchar(1000),\n\tCORG_KOKRS nvarchar(1000),\n\tCORG_BUKRS nvarchar(1000),\n\tCORG_SPRAS nvarchar(1000),\n\tCORG_BUTXT nvarchar(1000),\n\tCORG_ORT01 nvarchar(1000),\n\tCORG_LAND1 nvarchar(1000),\n\tCORG_VKORG_VTEXT nvarchar(1000),\n\tCORG_VTWEG_VTEXT nvarchar(1000),\n\tCORG_KOKRS_BEZEI nvarchar(1000),\n\tCORG_HASHKEY_BK nvarchar(1000),\n\tCORG_HASHKEY_DATA nvarchar(1000),\n\tCORG_CREATED_ON nvarchar(1000),\n\tCORG_SOURCE nvarchar(1000),\n\tCORG_VALID_FROM nvarchar(1000),\n\tCORG_VALID_TO nvarchar(1000),\n\tCORG_CURRENT_FLAG nvarchar(1),\n\tCORG_DML_STRAT nvarchar(10)\n);"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_DIM_ORGA",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_DIM_MATERIAL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IF_CONDITION_FACT_SALES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "select 1 AS \"FLAG\" from SYS.M_TABLES where SCHEMA_NAME ='SAPAZUREINTEGRATION#ADFCONNECTION' AND TABLE_NAME = 'CORE_DIM_MATERIAL'\nUNION ALL\nSELECT 0 AS \"FLAG\"  FROM SYS.M_TABLES",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_ODBC_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IF_CONDITION_DIM_MATERIAL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_MATERIAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_DIM_MATERIAL').output.firstRow.FLAG,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CPY_AZRSQL_DIMMATERIAL_TO_SAPDWC_TRUNCATE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_MATERIAL",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "TRUNCATE TABLE CORE_DIM_MATERIAL"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_DIM_MATERIAL",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "CPY_AZRSQL_DIMMATERIAL_TO_SAPDWC",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_MATERIAL",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "CREATE TABLE CORE_DIM_MATERIAL(\n\tCMAT_DIM_MATERIAL_SK nvarchar(1000),\n\tCMAT_MANDT nvarchar(1000),\n\tCMAT_MATNR nvarchar(1000),\n\tCMAT_MTART nvarchar(1000),\n\tCMAT_SPRAS nvarchar(1000),\n\tCMAT_MTBEZ nvarchar(1000),\n\tCMAT_MTREF nvarchar(1000),\n\tCMAT_MAKTX nvarchar(1000),\n\tCMAT_HASHKEY_BK nvarchar(1000),\n\tCMAT_HASHKEY_DATA nvarchar(1000),\n\tCMAT_CREATED_ON nvarchar(1000),\n\tCMAT_SOURCE nvarchar(1000),\n\tCMAT_VALID_FROM nvarchar(1000),\n\tCMAT_VALID_TO nvarchar(1000),\n\tCMAT_CURRENT_FLAG nvarchar(1),\n\tCMAT_DML_STRAT nvarchar(10) \n);"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_DIM_MATERIAL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_DIM_TIME",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IF_CONDITION_DIM_KUNDE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "select 1 AS \"FLAG\" from SYS.M_TABLES where SCHEMA_NAME ='SAPAZUREINTEGRATION#ADFCONNECTION' AND TABLE_NAME = 'CORE_DIM_DATE'\nUNION ALL\nSELECT 0 AS \"FLAG\"  FROM SYS.M_TABLES",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SRC_ODBC_STRUCTURE",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IF_CONDITION_DIM_TIME",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_DIM_TIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_DIM_TIME').output.firstRow.FLAG,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CPY_AZRSQL_DIM_TIME_TO_SAPDWC_TRUNCATE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_DATE",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "TRUNCATE TABLE CORE_DIM_DATE"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_DIM_TIME",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "CPY_AZRSQL_DIM_TIME_TO_SAPDWC",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM CORE.DIM_DATE",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0,
									"preCopyScript": "CREATE TABLE CORE_DIM_DATE(\n\tDateKey int NOT NULL,\n\tDate date NOT NULL,\n\tDay tinyint NOT NULL,\n\tDaySuffix nvarchar(2) NOT NULL,\n\tWeekday tinyint NOT NULL,\n\tWeekDayName nvarchar(10) NOT NULL,\n\tWeekDayName_Short nvarchar(3) NOT NULL,\n\tWeekDayName_FirstLetter nvarchar(1) NOT NULL,\n\tDOWInMonth tinyint NOT NULL,\n\tDayOfYear smallint NOT NULL,\n\tWeekOfMonth tinyint NOT NULL,\n\tWeekOfYear tinyint NOT NULL,\n\tMonth tinyint NOT NULL,\n\tMonthName nvarchar(10) NOT NULL,\n\tMonthName_Short nvarchar(3) NOT NULL,\n\tMonthName_FirstLetter nvarchar(1) NOT NULL,\n\tQuarter tinyint NOT NULL,\n\tQuarterName nvarchar(6) NOT NULL,\n\tYear int NOT NULL,\n\tMMYYYY nvarchar(6) NOT NULL,\n\tMonthYear nvarchar(7) NOT NULL,\n\tIsWeekend tinyint NOT NULL,\n\tIsHoliday tinyint NOT NULL,\n\tHolidayName nvarchar(20) NULL,\n\tSpecialDays nvarchar(20) NULL,\n\tFinancialYear int NULL,\n\tFinancialQuater int NULL,\n\tFinancialMonth int NULL,\n\tFirstDateofYear date NULL,\n\tLastDateofYear date NULL,\n\tFirstDateofQuater date NULL,\n\tLastDateofQuater date NULL,\n\tFirstDateofMonth date NULL,\n\tLastDateofMonth date NULL,\n\tFirstDateofWeek date NULL,\n\tLastDateofWeek date NULL,\n\tCurrentYear smallint NULL,\n\tCurrentQuater smallint NULL,\n\tCurrentMonth smallint NULL,\n\tCurrentWeek smallint NULL,\n\tCurrentDay smallint NULL\n);"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_AZRSQL_ALL_LAYER_STRUCTURE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_DWC_DIM_TIME",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "03_DWH_SAPDWC"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}